{% load static %}
<script type="text/javascript">

  window.CSRF_TOKEN = "{{csrf_token}}";
</script>
<script src=" {% static 'base/material/assets/js/core/jquery.min.js' %} "></script>
  <script src="{% static 'base/uikit/js/uikit.min.js' %}"></script>

    <script src="{% static 'base/material/assets/js/core/popper.min.js' %}"></script>
  <!-- <script src="{% static 'base/boomerang/assets/js/theme.js' %}"></script> -->
 <!-- <script src="{% static 'base/material/assets/js/core/bootstrap-material-design.min.js' %}"></script> -->
  <script src="{% static 'base/material/assets/js/plugins/moment.min.js' %}"></script>
  <script src="{% static 'base/argon/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

 <script src="{% static 'base/argon/js/argon.js' %}?v=1.2.0" type="text/javascript"></script>

 <script src="{% static 'base/semantic/semantic.min.js' %}"></script>




